*{
	font-family: "微软雅黑";
	margin: 0;
}

.jbxx ,.lxfs,.nlms,.jyjl,.xmjl{
	list-style: none;
	padding: 0;
	margin: 0;

}
.jbxx li, .lxfs li{
	float: left;
	margin-right:35px;  
}
h2{
	clear:both;
	margin:20px 0px 10px 0;
}
.clear{
	clear:both;
}
span{
	font-weight: bold;
}

